

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;  
}


/* login form */
.login-form {
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 10px;
  border: none;
  border-radius: none;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Styles for larger devices */
@media only screen and (min-width: 768px) {
  .login-form {
    margin-top: 120px;
    border-radius: 18px;
  }
}

/* register form */

.register-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: none;
}

/* Styles for larger devices */
@media only screen and (min-width: 768px) {
  .register-form {
    margin-top: 30px;
    border-radius: 30px;
    margin-top: 40px;
  }
}


/*  */

.header-text{
  font-family: 'Raleway', sans-serif;
}



/* home */
.d-block {
  margin-top: 5px;
  width: 100%;
}

@media (min-width: 576px) {
  .d-block {
    width: 85%;
  }
}

@media (min-width: 992px) {
  .d-block {
    width: 70%;
  }
}