@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;  
}


/* navbar */

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 30px !important;
  color: white !important;
}

.nav-link{
  color: white !important;
}

#basic-navbar-nav{
  color: white !important;
}
